<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button
      routerLink="/"
      class="btn btn-link"
    >Home page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.09.2019</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda consequuntur dignissimos
      distinctio ea in iste libero magnam nobis odio, quas quidem saepe sint, tempore, voluptas voluptate voluptatum. Ad
      aspernatur aut delectus dolor dolores eum illo in iusto molestias nesciunt perspiciatis qui quo similique sit ut
      veritatis vero, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda consequuntur dignissimos
      distinctio ea in iste libero magnam nobis odio, quas quidem saepe sint, tempore, voluptas voluptate voluptatum. Ad
      aspernatur aut delectus dolor dolores eum illo in iusto molestias nesciunt perspiciatis qui quo similique sit ut
      veritatis vero, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda consequuntur dignissimos
      distinctio ea in iste libero magnam nobis odio, quas quidem saepe sint, tempore, voluptas voluptate voluptatum. Ad
      aspernatur aut delectus dolor dolores eum illo in iusto molestias nesciunt perspiciatis qui quo similique sit ut
      veritatis vero, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda consequuntur dignissimos
      distinctio ea in iste libero magnam nobis odio, quas quidem saepe sint, tempore, voluptas voluptate voluptatum. Ad
      aspernatur aut delectus dolor dolores eum illo in iusto molestias nesciunt perspiciatis qui quo similique sit ut
      veritatis vero, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias assumenda consequuntur dignissimos
    distinctio ea in iste libero magnam nobis odio, quas quidem saepe sint, tempore, voluptas voluptate voluptatum. Ad
    aspernatur aut delectus dolor dolores eum illo in iusto molestias nesciunt perspiciatis qui quo similique sit ut
    veritatis vero, voluptates.</p>
  </div>
</div>
